body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.productCard__img{
  max-height: 200px;
  width: auto;
  max-width: 180px;
}
.product-img, .product-body{
  height: 100%;
}
.product-card{
  height: 230px;
}
.description{
  max-height: 78px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.product-button-box{
  bottom: 5px;
  right: 20px;
}

.card{
  max-height: 450px;
}

.productPage-card img{
  max-height: 400px;
}

.card-body{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-link {
  color: inherit; 
  text-decoration: inherit; 
}
.product-border{
  transition: all 0.3s ease-out;
}
.product-border:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
